$family: "Josefin Sans", sans-serif;
$primary: #ff5300;
$secondary: #f5f5f5;
$tertiary: #e5e5e5;
$black1: #222222;
$black2: #555555;
$black3: #777777;
$gray2: #c2c2c2;
$gray3: #999999;
$gray4: #afafaf;

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1599.98px;

.about {
    position: relative;
    max-width: 1170px;
    margin: auto;
    margin-bottom: 150px;
    @media (max-width: $lg) {
        margin-bottom: 130px;
    }
    @media (max-width: $md) {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: $sm) {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: $xs) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-text {
        width: 70%;
        padding: 50px 80px;
        margin-right: 0;
        margin-left: auto;
        h2 {
            position: relative;
            z-index: 600;
        }
        p {
            padding-left: 100px;
            @media (max-width: $lg) {
                padding-left: 60px;
            }
            @media (max-width: $md) {
                padding: 0;
            }
        }
        @media (max-width: $lg) {
            padding-left: 100px;
            padding-top: 30px;
            margin-bottom: -40px;
        }
        @media (max-width: $md) {
            padding: 30px 0 0 20px;
        }
        @media (max-width: $sm) {
            padding: 0;
            width: 100%;
            text-align: justify;
        }
        @media (max-width: $xs) {
            text-align: center;
        }
    }
    img.me {
        position: absolute;
        max-width: 438px;
        max-height: 543px;
        top: -90px;
        left: 65px;

        @media (max-width: $lg) {
            max-width: 400px;
            left: 50px;
        }
        @media (max-width: $md) {
            max-width: initial;
            position: initial;
            order: -1;
        }
        @media (max-width: $sm) {
            object-fit: contain;
            max-height: 500px;
            margin-top: -100px;
            order: -1;
        }
    }
}

.featured {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    h2 {
        margin-bottom: 40px;
    }
    .brands {
        //width:100%;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 65px;
        padding-right: 65px;
        margin-right: -50px;

        @media (max-width: $md) {
            padding-right: 50px;
            padding-left: 50px;
            justify-content: center;
        }
        li {
            display: block;
            margin-right: 50px;
            margin-bottom: 35px;
        }
        a {
            text-decoration: none;
            img {
                max-height: 28px;
            }
        }
    }
}