$family: "Josefin Sans", sans-serif;
$primary: #ff5300;
$secondary: #f5f5f5;
$tertiary: #e5e5e5;
$black1: #222222;
$black2: #555555;
$black3: #777777;
$gray2: #c2c2c2;
$gray3: #999999;
$gray4: #afafaf;

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1599.98px;

.episode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: $md) {
        flex-direction: column;
    }

    .new {
        position: relative;
        &::before {
            padding-top: 8px;
            padding-bottom: 8px;
            position: absolute;
            right: 24px;
            top: 9px;
            content: "New";
            background: $primary;
            color: white;
            text-align: center;
            font-size: 10px;
            width: 26px;
        }
    }

    img {
        flex: 1;
        width: 238px;
        @media (max-width: $md) {
            width: 100%;
        }
    }

    .episode-content {
        flex: 3;
        padding: 20px;

        @media (max-width: $md) {
            order: -1;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            color: $black3;
            line-height: 1.5;
        }
    }

    .meta {
        border-left: 1px solid $tertiary;
        padding: 20px;
        @media (max-width: $md) {
            width: 100%;
            order: -2;
            border-left: none;
            border-top: 1px solid $tertiary;
        }
        .tag {
            color: $gray2;
            font-size: 14px;
            font-weight: 400;
            display: block;
            line-height: 2em;
            &::before{
                content:'# '
            }
        }
    }
}