@use 'base';

.episode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: $md) {
        flex-direction: column;
    }

    .new {
        position: relative;
        &::before {
            padding-top: 8px;
            padding-bottom: 8px;
            position: absolute;
            right: 24px;
            top: 9px;
            content: "New";
            background: $primary;
            color: white;
            text-align: center;
            font-size: 10px;
            width: 26px;
        }
    }

    img {
        flex: 1;
        width: 238px;
        @media (max-width: $md) {
            width: 100%;
        }
    }

    .episode-content {
        flex: 3;
        padding: 20px;

        @media (max-width: $md) {
            order: -1;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            color: $black3;
            line-height: 1.5;
        }
    }

    .tags {
        border-left: 1px solid $tertiary;
        padding: 20px;
        @media (max-width: $md) {
            width: 100%;
            order: -2;
            border-left: none;
            border-top: 1px solid $tertiary;
        }
        .tag {
            color: $gray2;
            font-size: 14px;
            font-weight: 400;
            display: block;
            line-height: 2em;
        }
    }
}