@use 'base' as  *;

.subscribe {
    min-width: 570px;
    max-width: 25%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $sm) {
        min-width: initial;
        max-width: initial;
    }

    h2 {
        text-decoration: underline;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        color: $black3;
        padding: 40px;
        line-height: 1.5;
    }
}