$family: "Josefin Sans", sans-serif;
$primary: #ff5300;
$secondary: #f5f5f5;
$tertiary: #e5e5e5;
$black1: #222222;
$black2: #555555;
$black3: #777777;
$gray2: #c2c2c2;
$gray3: #999999;
$gray4: #afafaf;

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1599.98px;

.subscribe {
    max-width: calc(1024px + 2 * 70px);
    min-width: 570px;
    max-width: 25%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $sm) {
        min-width: initial;
        max-width: initial;
    }

    h2 {
        text-decoration: underline;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        color: $black3;
        padding: 40px;
        line-height: 1.5;
    }

    .cta-subscribe {
        @media (max-width: $sm) {
            width: 80%;
            align-self: center;
        }

        @media (max-width: $xs) {
            min-width: initial;
            max-width: initial;
            width: calc(100vw - 10px);
            align-self: center;
        }

        form {
            display: flex;
            justify-content: center;

            @media (max-width: $sm) {
                flex-direction: column;
            }
            input {
                flex: 3;
                font-family: $family;
                color: $gray2;
                font-size: 14px;
                font-weight: 400;
                padding: 1.6em 2.2em;
                background: $secondary;
                border: none;
                outline: none;
                border-radius: 4px 0 0 4px;
            }

            submit {
                flex: 1;
                padding: 1.6em 2.2em;
                border-top-left-radius: initial;
                border-bottom-left-radius: initial;
                @media (max-width: $sm) {
                    border-radius: 4px;
                    margin-top: 10px;
                }
            }
        }
    }
}