@use '../../styles/base' as *;

.episodes-container {
    background: white;
    max-width: 1170px;
    margin: auto;
    margin-top: -60px;
    position: relative;
    padding: 50px 70px;
    border-radius: 8px;
    box-shadow: rgba($color: #3e3e3e, $alpha: 0.08) 0 20px 60px;
    display: flex;
    flex-direction: column;

    @media (max-width: $lg) {
        max-width: calc(100vw - 100px);
    }

    @media (max-width: $sm) {
        padding: 50px 30px;
    }

    @media (max-width: $xs) {
        max-width: 100vw;
        padding: 30px 10px;
    }

    .top {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;

        h2 {
            margin: 0;
            flex-grow: 1;
            display: inline-block;

            @media (max-width: $sm) {
                display: block;
                text-align: center;
            }

            &.single {
                text-align: center;
            }
        }

        .btn {
            @media (max-width: $sm) {
                display: block;
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .more {
        position: relative;
        align-self: center;
        border-left: 1px solid $tertiary;
        border-right: 1px solid $tertiary;
        height: 1em;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

        .btn {
            position: relative;
            left: 0;
            bottom: 1em;
        }
    }
}