@use '../../styles/base' as *;

.carousel-container {
    max-width: calc(1024px + 2 * 70px);
    margin: auto;
    margin-top: 100px;
    text-align: center;
    .feeds-box {
        column-count: 4;
        column-gap: 0;
        .feed {
            position: relative;
            display: inline-block;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                transition: 0.5s ease;
            }
            .overlay {
                position: absolute;
                bottom: 0;
                background-color: rgba(black, 0.6);
                opacity: 0;
                width: 100%;
                height: 100%;
                transition: 0.5s ease;
                a{
                    display: none;
                }
            }

            &:hover {
                img {
                    transform: scale(1.5);
                }
                .overlay {
                    opacity: 1;
                    a {
                        display:initial;
                        text-decoration: none;
                        position: relative;
                        top: calc(50% - 0.5em);
                        background: rgba(black, 0.3);
                        border-radius: 50%;
                        color: white;
                        font-size: 3em;
                        font-weight: 900;
                        padding: 0.4em;
                        .link {
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }
        }
    }
}
