@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

$family: "Josefin Sans", sans-serif;
$primary: #ff5300;
$secondary: #f5f5f5;
$tertiary: #e5e5e5;
$black1: #222222;
$black2: #555555;
$black3: #777777;
$gray2: #c2c2c2;
$gray3: #999999;
$gray4: #afafaf;

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1599.98px;

.audio-player {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .controls {
        font-size: 1.5em;
    }

    .play {
        font-size: 3em;
        color: $primary;
    }

    .time {
        font-size: 12px;
        color: $primary;
    }

    .progress {
        flex: 1;
        border-radius: 8px;
        background: #d8d8d8;
        height: 5px;
    }

    & > * {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}